body{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    /* background-color: lightpink; */
}
header{
    display: flex;
    background-color:darksalmon;
    height: 5vh;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap:2vh;
    font-family: "Montserrat", sans-serif;
    padding: 1vh;
    padding-right: 3vh;
    font-weight: bold;
}
a{
    color: black;
    text-decoration: none;
}
.vuelta{
    color:palevioletred
}
:hover.vuelta{
    color: #ffbb00;
    text-decoration: underline;
}
.hero{
    background-color: #ffbb00;
    display: flex;
    height:90vh;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size:xx-large;
    font-weight: bold;
    align-items:center;
    justify-content: center;
}
#slide_nav{
    display:none;
}
.tarjeta{
    font-size: larger;
    display: flex;
    height: 90vh;
    background-color: palevioletred;
    color:whitesmoke;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding-left: 20%;
    padding-right: 20%;
}
.imgPerfil{
    aspect-ratio: 1;
    height: 50vh;
    width: 50vh;
    border-radius: 50px;
}
.separador{
    display: flex;
    height: 10vh;
    background-color: palevioletred;
    color:whitesmoke;
    font-size:6vh;
    font-weight: bold;
    align-items:center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1vh;;
    text-align: center;
}
.formulario{
    min-height: 70vh;
    max-width: 60vh;
    border-color: palevioletred;
    border-width: 1vh;
    border-style: solid;
    margin: 3vh 20vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    gap: 1vh;
    justify-self: center;
    align-items: center;
    text-align: center;
}
.cubrir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7vh;
    text-align: center;
    align-items: center;
}
input{
    border-color: palevioletred;
    border-style: solid;
    border-radius: 2vh;
    font-size:medium;
}
textarea{
    border-color: palevioletred;
    border-style: solid;
    border-radius: 2vh;
}
footer{
    padding: 2vh;
    background-color: darksalmon;
}
.descripcion{
    max-width: 50vh;
    min-width: 50vh;
    min-height: 10vh;
    font-family: "Montserrat", sans-serif;
}
.campo-texto{
    font-family: "Montserrat", sans-serif;
    max-width: 30vh;
    
}
.carta{
    display: flex;
    justify-content: center;
}
.enviar{
    font-family: "Poppins", sans-serif;
    font-size:medium;
    font-weight:500;
    height: 4vh;
    width: 10vh;
    background-color: palevioletred;
    border-color: palevioletred;
    color: white;
    border-radius: 3vh;
}
:hover.enviar{
    background-color: white;
    color: palevioletred
}
.cerdibug{
    height:90vh;
}
:hover.menu{
    color: white;
}
.contenidoT{
        font-size: larger;

    }
.emergencia{
    color:red;
    display:none
}
.invalido{
    color:red;
    display:none

}
.emailmal{
    color: red;
    display: none;
}
.informacion{
    margin-left:5vh ;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width:70vh;
    background-image: url("img/manzanatamagovhi.png");
    background-repeat: no-repeat;
    background-size:contain;
    align-items: center;
    justify-content: center;

}
.inManzana{
    width: 30vh;
    
}
.infoManzana{
    width: 100vh;
    background-color: antiquewhite;
    padding: 5vh;
    border-color: rgb(134, 78, 31);
    border-style: solid;
    border-width: 1vh;
    border-radius: 3vh;
    right: 0;
    top: 0;
    justify-content: center;
}
.b2{
    background-color: lightgreen;
}
.visible{
    display: none;
}
:hover.menu{
    color: white;
}
@media screen and (width <= 600px) {
    .informacion{
        width: 100%;
    }
    .infoManzana{
        width: fit-content;
        margin: 2vh;
    }
    #slide_nav{
        display: flex;
        background-color:transparent;
        width: 5vh;
        height: 5vh;
        align-items: center;
        justify-content: center;
        font-size: x-large;
        position: fixed;
        right: 0;
        top: 0;
        cursor: pointer;
        margin: 1vh;
        z-index: 1;
    }
    header{
        display: flex;
        position: fixed;
        right: 0;
        flex-direction: column;
        height: 25vh;
        border-bottom-left-radius: 2vh;
        padding-bottom: 2vh;
        text-align: left;
        align-items: baseline;
        padding-left: 2vh;
        transform: translate3d(100%, -100%, 0px);
        transition: transform .35s ease-in-out;
    }
    header.activo{
        transform: translate3d(0,0,0);
    }
    .hero{
        width: 100%;
    }
    .cerdibug{
        width: 45vh;
        height: 45vh;
    }
    .separador{
        font-size: 4vh;
    }
    .tarjeta{
        flex-direction: column;
    }
    .imgPerfil{
        height: 40vh;
        width: 40vh ;
    }
    .contenidoT{
        font-size: large;
    }
    input{
        text-align: left;
        font-size: small;
    }
    .formulario{
        width: 50vh;
        text-align:left;
        margin: 3vh 6vh;
    }
    .descripcion{
        max-width: 30vh;
        min-width: 30vh;
        align-self: center;
    }
    .hero{
        flex-direction: column;
    }
    .cubrir{
        justify-content: space-between;
        flex-direction: row;
        padding:0%;
    }
    form{
        padding-top: 1vh;
    }
}